{% extends "base.html" %}

{% block title %}Unbait those clicks!{% endblock %}

{% block content %}
<div class="max-w-7xl mx-auto">
    <div class="flex gap-8">
        <!-- Sidebar -->
        {% include 'components/sidebar.html' %}

        <!-- Main Content -->
        <div class="w-2/3">
            <!-- Summary Form -->
            {% include 'components/summary_form.html' %}

            <!-- Summary Content -->
            <div id="summaryContent">
                <!-- Content will be dynamically inserted here -->
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}